<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% products.each do |p| %>
      <tr>
        <td><%= link_to p.name, product_path(p) %></td>
        <td><%= p.status %></td>
        <td><%= number_to_currency p.price %></td>
      </tr>
  <% end %>
  </tbody>
</table>